[submodule "RT"]
	path = RT
	url = https://github.com/baxterai/openRT.git
[submodule "GIA"]
	path = GIA
	url = https://github.com/baxterai/openGIA.git
[submodule "LRP"]
	path = LRP
	url = https://github.com/baxterai/LRP.git
[submodule "SANI"]
	path = SANI
	url = https://github.com/baxterai/SANI.git
